.color-palette {
	.color {
		display: block;
		height: 4px;
		width: 14px;
		padding: 2px;
		border-radius: 2px;
		margin-right: 7px;
		transition: background-color 0.5s ease;
		&.A {
			background-color: #05e6b7;
		}
		&.B {
			background-color: #f701a8;
		}
		&.C {
			background-color: #00009d;
		}
	}
}
