// General
@import "./base/variables";
@import "./base/general";
@import "./base/utilities";

// Components
@import "./components/Input";
@import "./components/Link";
@import "./components/FeaProCard";
@import "./components/Price";
@import "./components/ColorPalette";
@import "./components/LatProCard";
@import "./components/OfferCard";
@import "./components/SelectInput";
@import "./components/Pagination";
@import "./components/FooterTab";
@import "./components/LatBlogCard";
@import "./components/loader";
@import "./components/TopCatCard";
@import "./components/TrendingProCard";
@import "./components/MyAccDropdown";
@import "./components/Loader";

// Sections
@import "./sections/Header";
@import "./sections/PageHeading";
@import "./sections/AuthForm";
@import "./sections/WelcomeSE";
@import "./sections/_FeaturedSE";
@import "./sections/LatestSE";
@import "./sections/OfferSE";
@import "./sections/TrendingProSE";
@import "./sections/TopCatagoriesSE";
@import "./sections/product";
@import "./sections/Newsletter";
@import "./sections/FooterSE";
@import "./sections/Cart";
@import "./sections//FooterSE";
@import "./sections/Contact";
@import "./sections/Blog";
//AdminSE
@import "./sections/Admin/AddProduct";
