.header__top {
	.top-left-ctn {
		flex-direction: row;
		a {
			display: flex;
			align-items: center;
			transition: all 0.4s ease;
			svg {
				margin-right: 3px;
				font-size: 19px;
			}
		}
		:hover {
			color: #fff;
		}
	}
	// top-right
	.top-right-ctn {
		justify-content: flex-end;
		.item {
			position: relative;
			margin-right: 19.2px;
			display: flex;
			align-items: center;
			cursor: pointer;
			a {
				color: #fff;
				display: block;
				padding: 9.5px 0;
				font-size: 14px;
				line-height: 26.8px;

				transition: all 0.4s ease;
			}
			.icon {
				color: #fff;
				margin-left: 5px;
				transition: all 0.4s ease;
			}
			.angle-down {
				transform: rotate(90deg);
			}
			&:hover {
				a {
					color: #fb2e86;
				}
				.icon {
					color: #fb2e86;
				}
				.angle-down {
					transform: rotate(0deg);
				}
			}
			.menu-drop {
				position: absolute;
				z-index: 5;
				top: 150%;
				left: -5px;
				text-align: center;
				padding: 7.5px;
				border-radius: 7px 7px 3px 3px;
				border-top: 3px solid #fb2e86;
				transition: all 0.4s ease;
				background-color: #e7e4f8;
				visibility: hidden;
				opacity: 0;
				a {
					padding: 2.5px 5px;
					color: black;
				}
				ul {
					li {
						> a:hover {
							color: #fb2e86;
						}
					}
				}
			}
		}
		.cart {
			position: relative;
			.icon-cart {
				font-size: 20px;
			}
			.items-count {
				position: absolute;
				top: 8px;
				right: -9px;
				width: 17px;
				height: 17px;
				font-size: 12px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				color: #fff;
				background-color: #fb2e86;
			}
			&:hover {
				.items-count {
					a {
						color: #fff;
					}
				}
			}
		}
		.lang {
			&:hover {
				.menu-drop {
					top: 100%;
					visibility: visible;
					opacity: 1;
				}
			}
		}
		.usd {
			&:hover {
				.menu-drop {
					top: 100%;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}
// Navbar
.nav-ctn {
	background-color: #fff;
	.nav-item {
		.nav-link {
			color: #1f176d;
			line-height: 28.2px;
			padding: 17.5px 16px;
			&:hover {
				color: #fb2e86;
			}
		}
	}
	.navbar-nav {
		.active-home {
			a {
				color: #fb2e86;
				i {
					font: 10px;
				}
			}
		}
	}
	.form-control {
		border-color: #cfcddf;
		border-radius: 0;
	}
	.form-inline {
		input {
			&::placeholder {
				color: #cfcddf;
			}
		}
		.btn-outline-success {
			border-color: #cfcddf;
			border-radius: 0;
			transition: all 0.4s ease;
			.search-icon {
				color: #0d0e43;
				font-size: 20px;
				transition: all 0.4s ease;
			}
			&:hover {
				background-color: #fb2e86;
				.search-icon {
					color: #fff;
				}
			}
		}
	}
	.navbar {
		.navbar-brand {
			color: #0d0e43;
			font-family: "Josefin Sans", sans-serif;
			font-size: 32px;
			font-weight: bold;
			line-height: 41.6px;
			margin-right: 89px;
		}
	}
}

@media (max-width: 576px) {
	.header__top {
		display: none;
	}
}
@media (max-width: 767px) {
	.header__top {
		.contact-ctn {
			justify-content: center;
			margin-top: 5px;
		}
		.top-right-ctn {
			justify-content: center;
			margin-top: 5px;
		}
		font-size: 15px;
	}
}
