.page-heading {
    padding:60px 0;

    .heading{
        font-size: clamp(1.5rem, 6vw, 2.1rem);
    }

    .page-link{
        padding:0;
        margin:0
    }
    .page-link:not(:last-child):after{
        content: ".";
        padding:0 5px;
    }

    .page-link.active{
        color:$accent-clr
    }
}