.text-clr-primary {
  color: $primary-clr;
}
.text-clr-accent {
  color: $accent-clr;
}
.bg-clr-primary {
  background-color: $primary-clr;
}
.bg-clr-primary-light {
  background-color: $primary-clr-light;
}
.bg-clr-accent {
  background-color: $accent-clr;
}
.ff-primary {
  font-family: $ff-primary;
}
.ff-secondary {
  font-family: $ff-secondary;
}
.fw-regular {
  font-weight: $fw-regular;
}
.fw-semibold {
  font-weight: $fw-semibold;
}
.fw-bold {
  font-weight: $fw-bold;
}

.section-spacing {
  padding: 70px 0;
}
.heading-box-spacing {
  padding-bottom: 60px;
}

.accent-clr-hover{transition: color $trans-duration}
.primary-clr-hover{transition: color $trans-duration}
.accent-clr-hover:hover{color:$accent-clr !important}
.primary-clr-hover:hover{color:$primary-clr !important}
.primary-bg-hover:hover{background-color: $primary-clr;}
.accent-bg-hover:hover{background-color: $accent-clr;}

@for $i from 6 to 10 {
  .fs-#{$i} {
    font-size: 1rem * 8/$i;
  }
}
