$primary-clr:#7829DF;
$primary-clr-light:#F2F0FF;
$text-clr:#9096B2;
$heading-clr:#1A0B5B;
$accent-clr:#FB2E86;
$ff-primary:"Josefin Sans";
$ff-secondary:"Fira Sans";
$fw-regular:400;
$fw-semibold:600;
$fw-bold:700;
$fs-text:16px;