$primary-clr:#7829DF;
$primary-clr-light:#F2F0FF;
$accent-clr:#FB2E86;
$heading-clr:#1A0B5B;
$text-clr:#9096B2;
$ff-primary:"Josefin Sans";
$ff-secondary:"Fira Sans";
$fw-regular:400;
$fw-medium:500;
$fw-semibold:600;
$fw-bold:700;
$fs-text:16px;
$trans-duration:0.5;
$h1: 60px;
$h2: 42px;
$h3: 36px;
$h4: 32px;
$h5: 24px;
$h6: 22px;
